spotipy == 2.22.0
time
pandas
streamlit
numpy
songrecommendations
os
datetime
json
config
stats_gen
streamlit_option_menu
utils
os
sys
signla
threading
webbrowser
PIL
requests
io
streamlit_metrics
matplotlib
datetime
funzioni
altair
