
/*
.css-ocqkz7 {
    display: flex;
    flex-wrap: inherit;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    background-color: blueviolet;
    padding: 20px;
}

.css-1unvwp8 {
    width: 77px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap:0rem;
}

.css-53wkru {
    width: 83px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0rem;
}


.st-e1 {
    border-color: rgb(49 51 63 / 0%);
}

    
    
.stButton>button {
    color: #000000;
    border-color: #ffffff;
    }



.css-1hjyyrh{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    margin: 0px;
    line-height: 1.6;
    color: inherit;
    width: auto;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(49, 51, 63, 0.2);
    border-color: rgb(49 51 63 / 0%);

}
*/

/*sidebar box*/
.css-1inwz65 {
    line-height: 1.6;
    font-weight: normal;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: inherit;
}

.css-1pnij3d {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    padding-bottom: 9.33333px;
    color: rgb(75, 126, 255);
    top: -22px;
    position: absolute;
    white-space: nowrap;
    background-color: transparent;
    line-height: 1.6;
    font-weight: normal;
}
